{% extends 'base.html' %}

{% block content %}
<div ng-controller= "homeCtrl">
<div class="container-fluid">
	<script>console.log(FBAppID);</script>
	Rough draft of the form
	<form name="companySearchForm" novalidate>
		<label>company #1</label><br />
		<input type="text"
			class="form-control"
			name="company1"
			ng-model="company1"
			required
			ng-minlength="3">
		<span ng-show="companySearchForm.$error.required">
		Enter at least two companies to compare.</span>
		
		<label>company #2</label><br />
		<input type="text"
			class="form-control"
			name="company2"
			ng-model="company2"
			required
			ng-minlength="3">
		<span ng-show="companySearchForm.$error.required">
			Enter at least two companies to compare.</span>
		
		<label>company #3</label>
		<input type="text"
			class="form-control"
			name="company3"
			ng-model="company3"
			ng-minlength="2">
		<input type="submit"
			ng-click="submit()"
			ng-disabled="companySearchForm.$invalid"></button>
		<button ng-click="reset()">reset</button>
	</form>


<!-- Trigger the modal with a button -->
	<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#queryNoMatchModal">Open Modal</button>

	<!-- This modal appears automatically when a search term does n
	match a company name exactly in the Glassdoor API -->
	<div id="queryNoMatchModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">

	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title"></h4>
	      </div>
	      <div class="modal-body">
	        <p>Your query for {{ coName }} wasn't an exact match with any company in the Glassdoor API.<br />
	        Please select one of the companies below to continue your search.</p>
	       <form name="clarifyQueryForm" ng-repeat="(name, employer) in gdAPIData">
	        	<input type="radio" ng-model="employer.name" ng-value="employer.name">&nbsp&nbsp{{employer.name}}
	        </form>
	        </p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>

	  </div>
	</div>
</div>
</div>
{% endblock %}